<launch>
<!-- Arguments -->

<arg name="path" default="/home/joanpep/ros/bag_flies/merbots/" />
<!--arg name="file_1" default="2017-03-08-12-13-58.bag"10 /-->
<arg name="disparity_params" value="$(find pcl)/config/disparity_params_stereo.yaml" />
<!--arg name="file_1" default="2017_03_08_pool/58.bag" /-->
<arg name="file_1" default="laser/quality.bag" />
<!--arg name="file_1" default="/structure/2017-03-20-12-59-10.bag" /-->
<!--arg name="camera" default="/stereo_forward"/-->
<arg name="camera" default="/sense3d"/>
<!--arg name="camera" default="/camera"/-->
<!--arg name="target_0" default="/home/joanpep/ros/pc_ws/src/dataset/caduf_struct/vertices14_z0_filt.pcd" /-->



<arg name="scene_dir" default="/home/joanpep/ros/pc_ws/src/dataset/caduf_struct/scene5_filt.pcd" />

	<!--node pkg="rviz" type="rviz" name="rviz" /-->
  <param name="use_sim_time" value="true" />
	<node pkg="rosbag" type="play" name="player" output="screen" args="--clock $(arg path)$(arg file_1)"/>

  <!-- STEREO IMAGE PROC 2 RECTIFY -->
  <!--node ns="$(arg camera)" pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" >
		<rosparam file="$(arg disparity_params)"/>

	</node-->
  <!-- PC FILTER -->
    <node pkg="pcl" type="points2_filter" name="points2_filter" output="screen">
    <!--remap from="/in" to="/$(arg camera)/points2"/-->
    <remap from="/in" to="/$(arg camera)/scan"/>
    <param name="filter_nan" value= "true"/>
    <param name="filter_voxelgrid" value= "true"/>
    <param name="voxel_size" value= "0.01"/> 
  </node>
  
<!--Object Detection-->
  <node pkg="pcl" type="objectDetection_node" name="object_detection" output="screen">
    
    <remap from="/input_cloud" to="/points2_filter/out"/>

    <param name="target_0" value= "/home/joanpep/ros/pc_ws/src/dataset/caduf_struct/vertices14_z0_filt.pcd"/>
    <param name="target_1" value= "/home/joanpep/ros/pc_ws/src/dataset/caduf_struct/vertices14_z90_filt.pcd"/>
    <param name="target_2" value= "/home/joanpep/ros/pc_ws/src/dataset/caduf_struct/vertices14_z180_filt.pcd"/>
    <param name="target_3" value= "/home/joanpep/ros/pc_ws/src/dataset/caduf_struct/vertices14_z270_filt.pcd"/>
       
    <param name="debug_set_inclination" value="false" />
    <param name="debug_height" value="false" />
    <param name="debug_detected_object" value="false" />
    <param name="debug_max_min_height" value="false" />
    <param name="debug_best_target" value="false" />
    
    <param name="filter_range" value= "true"/> 
    <param name="min_range" value= "0.2"/> 
    <param name="max_range" value= "6.0"/> 

    <param name="user_def_plane" value="true" />
    <param name="user_def_plane_rot_x" value="0.0" />
    <param name="user_def_plane_rot_y" value="55.0" />
    <param name="user_def_plane_rot_z" value="0.0" />

    <param name="layer_height" value="0.1" />
    <param name="incr_layer_height" value="0.05" />

    <param name="threshold_score_" value="0.000085" />

    <param name="minimum_score_dif_" value="0.000007" />
    <param name="min_scene_point_size" value="800" />
    <param name="reg_sc_th" value="0.000009" />
    <param name="height_reg_sc_th" value="0.0000075" />

    
  </node>    

</launch>
	
